body {
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    padding: 1.1rem;
    display: flex;
    justify-content:space-around;
    gap: 30em;

    background-color: #1F2937;
}

.header .logo {
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header a:hover {
    color: #3882F6;
    transition: 0.2s;
}

img {
    width: 576px;
}

/* header end */
/* //////////////////////////////////////// */
/* hero section */

.hero-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 3rem 10%;
    justify-content: space-between;
    min-height: 45vh;

    column-gap: 10%;
}

.hero-section .content h1 {
    color: #F9FAF8;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-section .text {
    font-size: 1.125rem;
    padding-bottom: 1.5em;
    color: #E5E7EB;
}

.hero-section img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px black;
}

.hero-section button {
    padding: 0.5em 2em;
    background-color: #3882F6;
    box-shadow: 0 0 5px 1px black;
    border-radius: 8px;
    border-style: none;
    color: #F9FAF8;
    font-size: 1em;
    font-weight: 700;
}

.hero-section button:hover,
.hero-section button:focus {
    background-color: #0e6aff;
}

/* hero section end*/
/* //////////////////////////////////////// */
/* First container */
.container {
    display: flex;
    padding: 1rem 10% 2rem 10%;
    flex-wrap: wrap;
}

.container h2 {
    padding: 1rem 0 2rem 0 ;
    margin: 0;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}

.container .content {
    display: flex;
    gap: 3em;
}

.container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box-img {
    width: 140px;
    height: 140px;
    border-radius: 10px;;
}

/* Box color */
.container .box-color1 {
    background-color: #4A6385;
}

.container .box-color2 {
    background-color: #464B52;
}

.container .box-color3 {
    background-color: #1F2937;
}

.container .box-color4 {
    background-color: #727A85;
}

.container .box-img:hover {
    opacity: 0.5;
    transition: .2s;
}

.container .text {
    text-align: center;
    padding-top: 1em;
    margin: 0 1em;
}
/* First container end */
/* //////////////////////////////////////// */
/* Second container */
.container2 {
    background-color: #E5E7EB;
    padding: 5rem 20%;
}

.container2 .quotes {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-style: italic;
}

.container2 p {
    font-size: 1.5rem;
    text-align: end;
}
/* Second container end*/
/* //////////////////////////////////////// */
/* Third container */
.container3 {
    padding: 5rem 1% 5rem 1%;
    margin-left: 25%;
    margin-right: 25%;
}
.cta-wrapper {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 1px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 5rem;
    background-color: #3882F6;
    padding: 1em;
}

.container3 .content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding-left: 10rem;
}

.container3 .modal {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 1.5rem;
}

.container3 .text {
    padding-top: 0.2rem;
    font-weight: normal;
    font-size: 1rem;
    color: #E5E7EB;
}

.container3 button {
    padding: 0.5rem 2rem;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 1em;
    font-weight: 700;
    margin-right: 10rem;
}

.container3 button:hover,
.container3 button:focus {
    background-image: linear-gradient(#0e6aff, #3882f6);
    transition: .2s;
    box-shadow: 0 0 5px 1px white;
}
/* container 3 end */
/* //////////////////////////////////////// */
/* footer */
.footer {
    background-color: #1F2937;
    padding: 2rem 1rem;
}

.footer .text {
    text-align: center;
    color: #F9FAF8;
}

.footer a {
    text-decoration: none;
    color: #3882F6;
}

