body {
    margin: 0;
    font-family: Lato, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    padding: 1.1rem;
    display: flex;
    justify-content:space-around;
    gap: 30em;

    background-color: #1F2937;
}

.header .logo {
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header a:hover {
    color: #3882F6;
}

img {
    width: 576px;
}

/* header end */
/* //////////////////////////////////////// */
/* hero section */

.hero-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 3rem 10rem;
    color: #F9FAF8;
    justify-content: space-between;

    column-gap: 10%;
}

.hero-section .content h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero-section .text {
    font-size: 1.125rem;
    padding-bottom: 1em;
    color: #E5E7EB;
}

.hero-section img {
    max-width: 80%;
    height: 80%;
    object-fit:cover;
}

.hero-section button {
    padding: 0.5em 2em;
    background-color: #3882F6;
    box-shadow: 0 0 5px 1px black;
    border-radius: 8px;
    border-style: none;
    color: #F9FAF8;
    font-size: 1em;
    font-weight: 700;
}

/* hero section end*/

/* First container */
.container {
    display: flex;
    padding: 0 10rem 5rem 10rem;
    flex-wrap: wrap;
}

.container h2 {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}

.container .content {
    display: flex;
    gap: 2em;
}

.container img {
    border: solid 5px #3882F6;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.container .text {
    text-align: center;
}

/* First container end */

/* Second container */
.container2 {
    background-color: #E5E7EB;
    padding: 5rem 10rem;
}

.container2 .quotes {
    font-family: cursive;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    text-align:left;
}

.container2 p {
    font-size: 1.5rem;
    text-align: end;
}